<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <script src="js/app.js"></script>
    <link href="css/user.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="UserCtrl">

<form method="POST" name="userForm" ng-class="{'form-error':submitted}" ng-submit="saveUser()" novalidate>

    <label class="form-label">Email:</label>
    <input class="form-input" name="email" ng-model="user.email" required type="email"/>
    <div class="error-messages" ng-messages="userForm.email.$error" ng-show="submitted && userForm.email.$invalid">
        <p ng-message="email">Invalid email!</p>
        <p ng-message="required">Email is required!</p>
    </div>
    <div class="check" ng-show="submitted && userForm.email.$valid">&#x2713;</div>

    <label class="form-label">Password:</label>
    <input class="form-input" name="password" ng-maxlength="15" ng-minlength="4" ng-model="user.password" required
           type="password"/>
    <div class="error-messages" ng-messages="userForm.password.$error"
         ng-show="submitted && userForm.password.$invalid">
        <p ng-message="minlength">Password must be at least 4 characters!</p>
        <p ng-message="maxlength">Password must not be longer than 15 characters!</p>
        <p ng-message="required">Password is required!</p>
    </div>
    <div class="check" ng-show="submitted && userForm.password.$valid">&#x2713;</div>

    <label class="form-label">Name:</label>
    <input class="form-input" name="name" ng-model="user.name" ng-trim="true" required type="text"/>
    <div class="error-messages" ng-messages="userForm.name.$error" ng-show="submitted && userForm.name.$invalid">
        <p ng-message="required">Name is required!</p>
    </div>
    <div class="check" ng-show="submitted && userForm.name.$valid">&#x2713;</div>

    <label class="form-label">Age:</label>
    <input class="form-input" name="age" ng-min="18" ng-model="user.age" required type="number"/>
    <div class="error-messages" ng-messages="userForm.age.$error" ng-show="submitted && userForm.age.$invalid">
        <p ng-message="min">Age must be greater than 18!</p>
        <p ng-message="required">Age must be greater than 18!</p>
    </div>
    <div class="check" ng-show="submitted && userForm.age.$valid">&#x2713;</div>
    <br/>
    <button class="form-button-save" type="submit">Save</button>
    <button class="form-button-reset" ng-click="resetForm()" type="reset">Reset</button>
</form>

<br/>
<div style="color:red;font-weight:bold">{{errorMessage}}</div>
<div style="color:green;font-weight:bold">{{message}}</div>
<br/>

All Users: <br/>
<table id="users">
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr ng-repeat="usr in users">
        <td>{{usr.email}}</td>
        <td>{{usr.name}}</td>
        <td>{{usr.age}}</td>
    </tr>
</table>
</body>
</html>